{$HOSTNAME}:80 {
  tls off
  root "public"
  log "logs/access.log"
  errors "logs/errors.log"
  gzip
  rewrite {
    to {path} {path}/ /index.html#{uri}
  }
}

{$HOSTNAME}:80/api {
  proxy / {$API_UPSTREAM}:8994 
}
